{%extends 'index.html'%}
{%load static %}
{%block body%}
        <!-- End Navbar Area -->
        
        <!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Blog Details</h2>
                    
                    <ul class="pages-list">
                        <li><a href="index.html">Home</a></li>
                        <li>Blog Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->

        <!-- Start Blog Details Area -->
        <div class="blog-details-area pt-100 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="blog-details-desc">
                            <div class="article-image">
                                <img src="{%static 'assets/images/blog/blog-details.jpg'%}" alt="image">
                            </div>

                            <div class="article-content">
                                <ul class="entry-meta">
                                    <li>
                                        <i class='bx bx-time'></i>
                                        23rd February 2022
                                    </li>
                                    <li>
                                        <i class='bx bxs-user'></i>
                                        <a href="blog-right-sidebar.html">By Admin</a>
                                    </li>
                                </ul>

                                <h3>How the Workplace Would Look if it was Designed by Today’s Teenagers</h3>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequa.</p>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputat.</p>

                                <blockquote class="wp-block-quote">
                                    <p>“Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.”</p>

                                    <h4>Jonthon Doe</h4>
                                </blockquote>

                                <ul class="wp-block-gallery columns-3">
                                    <li class="blocks-gallery-item">
                                        <figure>
                                            <img src="{%static 'assets/images/blog/blog-1.jpg'%}" alt="image">
                                        </figure>
                                    </li>

                                    <li class="blocks-gallery-item">
                                        <figure>
                                            <img src="{%static 'assets/images/blog/blog-2.jpg'%}" alt="image">
                                        </figure>
                                    </li>

                                    <li class="blocks-gallery-item">
                                        <figure>
                                            <img src="{%static 'assets/images/blog/blog-3.jpg'%}" alt="image">
                                        </figure>
                                    </li>
                                </ul>

                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputat.</p>
                            </div>

                            <div class="article-other-text">
                                <h3>Experts Always Ready to Maximizing Products</h3>
                                <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequa.</p>
                            </div>

                            <div class="article-footer">
                                <ul class="article-tags">
                                    <li><span>Tag:</span></li>
                                    <li><a href="#">Agency</a></li>
                                    <li><a href="#">Office</a></li>
                                </ul>

                                <div class="article-share">
                                    <ul class="social">
                                        <li><span>Share:</span></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                        <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="article-comments">
                                <h4>Comment (02)</h4>
                                
                                <div class="comments-list">
                                    <img src="{%static 'assets/images/clients/clients-1.jpg'%}" alt="image">
                                    <h5>Thomas Doe</h5>
                                    <span>April 24, 2022 at 10:59 AM</span>
                                    <p>“ Aean sollicit wudin, lorem quis bibendum auctor nisi elit here cocsequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit aet nih vulputate cursus a sit amet accumsan ipsum veli.”</p>
                                    <a href="#" class="reply-btn"><i class='bx bx-reply'></i></a>
                                </div>

                                <div class="comments-list">
                                    <img src="{%static 'assets/images/clients/clients-2.jpg'%}" alt="image">
                                    <h5>Alina Seroga</h5>
                                    <span>April 24, 2022 at 10:59 AM</span>
                                    <p>“ Aean sollicit wudin, lorem quis bibendum auctor nisi elit here cocsequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit aet nih vulputate cursus a sit amet accumsan ipsum veli.”</p>
                                    <a href="#" class="reply-btn"><i class='bx bx-reply'></i></a>
                                </div>
                            </div>

                            <div class="article-leave-comment">
                                <h4>Leave a Comment</h4>
                                
                                <form>
                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" placeholder="Your Name*">
                                    </div>

                                    <div class="form-group mb-3">
                                        <input type="text" class="form-control" placeholder="Your Email*">
                                    </div>

                                    <div class="form-group mb-3">
                                        <textarea name="message" class="form-control" placeholder="Your Comment"></textarea>
                                    </div>

                                    <button type="submit" class="default-btn">Post A Comment <i class='bx bx-chevron-right'></i><span></span></button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <aside class="widget-area">
                            <div class="widget widget_search">
                                <form class="search-form">
                                    <input type="search" class="search-field" placeholder="Search">
                                    <button type="submit"><i class='bx bx-search'></i></button>
                                </form>
                            </div>

                            <div class="widget widget_spurf_posts_thumb">
                                <h3 class="widget-title">Popular Posts</h3>

                                <article class="item">
                                    <a href="blog-details.html" class="thumb">
                                        <span class="fullimage cover bg1" role="img"></span>
                                    </a>

                                    <div class="info">
                                        <h4 class="title usmall">
                                            <a href="blog-details.html">What Makes the Best C-working Space?</a>
                                        </h4>

                                        <span>15 December 2022</span>
                                    </div>
                                </article>

                                <article class="item">
                                    <a href="blog-details.html" class="thumb">
                                        <span class="fullimage cover bg2" role="img"></span>
                                    </a>

                                    <div class="info">
                                        <h4 class="title usmall">
                                            <a href="blog-details.html">Inside Universal Design Studio’s Shoreditch HQ</a>
                                        </h4>

                                        <span>15 December 2022</span>
                                    </div>
                                </article>

                                <article class="item">
                                    <a href="blog-details.html" class="thumb">
                                        <span class="fullimage cover bg3" role="img"></span>
                                    </a>

                                    <div class="info">
                                        <h4 class="title usmall">
                                            <a href="blog-details.html">Why Lisbon’s Startup Scene Will Hit Full Throttle In 2022</a>
                                        </h4>

                                        <span>15 December 2022</span>
                                    </div>
                                </article>

                                <article class="item">
                                    <a href="blog-details.html" class="thumb">
                                        <span class="fullimage cover bg4" role="img"></span>
                                    </a>

                                    <div class="info">
                                        <h4 class="title usmall">
                                            <a href="blog-details.html">The Data-Driven Approach to Understanding</a>
                                        </h4>

                                        <span>15 December 2022</span>
                                    </div>
                                </article>
                            </div>

                            <div class="widget widget_categories">
                                <h3 class="widget-title">Categories</h3>

                                <ul>
                                    <li><a href="#">Business <span>(05)</span></a></li>
                                    <li><a href="#">Startup <span>(05)</span></a></li>
                                    <li><a href="#">Tech <span>(05)</span></a></li>
                                    <li><a href="#">Creative Space <span>(05)</span></a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Details Area -->
        
        <!-- Start Footer Area -->
      {%endblock%}