{%extends 'index.html'%}
{%load static %}
{%block body%}
        <!-- End Navbar Area -->
        
        <!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Events</h2>
                    
                    <ul class="pages-list">
                        <li><a href="index.html">Home</a></li>
                        <li>Events</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->
        
        <!-- Start Events Area -->
        <div class="events-area pt-100 pb-100">
            <div class="container">
                <div class="spurf-grid-sorting row align-items-center">
                    <div class="col-lg-6 col-md-6 result-count">
                        <p>We found <span class="count">10</span> products available for you</p>
                    </div>

                    <div class="col-lg-6 col-md-6 ordering">
                        <div class="select-box">
                            <label>Event Type:</label>
                            <select>
                                <option>All</option>
                                <option>Happening</option>
                                <option>Upcoming</option>
                                <option>Expired</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-events-box">
                            <div class="image">
                                <a href="events-details.html">
                                    <img src="{%static 'assets/images/events/events-1.jpg'%}" alt="image">
                                </a>
                                <span class="date">Wed, 20 May 2022</span>
                            </div>

                            <div class="content">
                                <h3><a href="events-details.html">Global Conference on Business Management</a></h3>
                                <span class="location"><i class="bx bx-map"></i>Vancover, Canada</i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-events-box">
                            <div class="image">
                                <a href="events-details.html">
                                    <img src="{%static 'assets/images/events/events-2.jpg'%}" alt="image">
                                </a>
                                <span class="date">Tue, 19 May 2022</span>
                            </div>

                            <div class="content">
                                <h3><a href="events-details.html">International Conference on Teacher Education</a></h3>
                                <span class="location"><i class="bx bx-map"></i>Sydney, Australia</i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-events-box">
                            <div class="image">
                                <a href="events-details.html">
                                    <img src="{%static 'assets/images/events/events-3.jpg'%}" alt="image">
                                </a>
                                <span class="date">Mon, 18 May 2022</span>
                            </div>

                            <div class="content">
                                <h3><a href="events-details.html">International Conference on Special Needs Education</a></h3>
                                <span class="location"><i class="bx bx-map"></i>Istanbul, Turkey</i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-events-box">
                            <div class="image">
                                <a href="events-details.html">
                                    <img src="{%static 'assets/images/events/events-4.jpg'%}" alt="image">
                                </a>
                                <span class="date">Sun, 17 May 2022</span>
                            </div>

                            <div class="content">
                                <h3><a href="events-details.html">International Conference on Literacy Teaching</a></h3>
                                <span class="location"><i class="bx bx-map"></i>Athens, Greece</i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-events-box">
                            <div class="image">
                                <a href="events-details.html">
                                    <img src="{%static 'assets/images/events/events-5.jpg'%}" alt="image">
                                </a>
                                <span class="date">Sat, 16 May 2022</span>
                            </div>

                            <div class="content">
                                <h3><a href="events-details.html">International Conference on Educational Administration</a></h3>
                                <span class="location"><i class="bx bx-map"></i>Rome, Italy</i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-events-box">
                            <div class="image">
                                <a href="events-details.html">
                                    <img src="{%static 'assets/images/events/events-6.jpg'%}" alt="image">
                                </a>
                                <span class="date">Fri, 15 May 2022</span>
                            </div>

                            <div class="content">
                                <h3><a href="events-details.html">International Conference on Education and Pedagogy</a></h3>
                                <span class="location"><i class="bx bx-map"></i>Athens, Greece</i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-events-box">
                            <div class="image">
                                <a href="events-details.html">
                                    <img src="{%static 'assets/images/events/events-7.jpg'%}" alt="image">
                                </a>
                                <span class="date">Thu, 14 May 2022</span>
                            </div>

                            <div class="content">
                                <h3><a href="events-details.html">Research Conference Aims and Objectives</a></h3>
                                <span class="location"><i class="bx bx-map"></i>Tokyo, Japan</i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-events-box">
                            <div class="image">
                                <a href="events-details.html">
                                    <img src="{%static 'assets/images/events/events-8.jpg'%}" alt="image">
                                </a>
                                <span class="date">Wed, 13 May 2022</span>
                            </div>

                            <div class="content">
                                <h3><a href="events-details.html">Conference on Gender Discrimination in Education</a></h3>
                                <span class="location"><i class="bx bx-map"></i>Oslo, Norway</i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-events-box">
                            <div class="image">
                                <a href="events-details.html">
                                    <img src="{%static 'assets/images/events/events-9.jpg'%}" alt="image">
                                </a>
                                <span class="date">Tue, 12 May 2022</span>
                            </div>

                            <div class="content">
                                <h3><a href="events-details.html">Quality and Improvement in Education Conference</a></h3>
                                <span class="location"><i class="bx bx-map"></i>Tokyo, Japan</i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a href="#" class="prev page-numbers"><i class='bx bx-chevron-left'></i></a>
                            <span class="page-numbers current" aria-current="page">1</span>
                            <a href="#" class="page-numbers">2</a>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="page-numbers">4</a>
                            <a href="#" class="next page-numbers"><i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Events Area -->
        
        <!-- Start Footer Area -->
        {%endblock%}