{%extends 'index.html'%}
{%load static %}
{%block body%}
        <!-- End Navbar Area -->
        
        <!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Events Booking</h2>
                    
                    <ul class="pages-list">
                        <li><a href="index.html">Home</a></li>
                        <li>Events Booking</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->
        
        <!-- Start Events Booking Area -->
        <div class="events-booking-area pt-100 pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="events-booking-content">
                            <h3>What We Offer</h3>

                            <ul class="booking-list">
                                <li>
                                    <i class='bx bx-check'></i>
                                    Actual office space that promoting productivity
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Meaningful connections with your team
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Increased productivity to get some work done
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Actual office space that promoting
                                </li>
                            </ul>
                        </div>

                        <div class="events-booking-content two">
                            <h3>What We Have</h3>

                            <ul class="booking-list">
                                <li>
                                    <i class='bx bx-check'></i>
                                    Unlimited access to all spaces (member of one, member of all)!
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Meaningful connections with your team
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Increased productivity to get some work done
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Free guest access for up to two hours
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Easy online booking for meeting room.
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Proessional business services including use of a networked
                                </li>
                                <li>
                                    <i class='bx bx-check'></i>
                                    Actual office space that promoting
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="events-booking-form">
                            <div class="events-booking-title">
                                <span>Booking Table</span>
                                <h3>Fill Up the Frm and send Query We will Contact You</h3>
                            </div>

                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name*">
                                </div>
        
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Email*">
                                </div>
        
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone Number">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Job">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Visit. Your Preferred Date*">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Coupon Code">
                                </div>

                                <button type="submit" class="default-btn">Submit Now <i class='bx bx-send'></i> <span></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Events Booking Area -->
        
        <!-- Start Footer Area -->
       {%endblock%}