{%extends 'index.html'%}
{%load static %}
{% block body%}
        <!-- End Navbar Area -->
        
        <!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Gallery</h2>
                    
                    <ul class="pages-list">
                        <li><a href="index.html">Home</a></li>
                        <li>Gallery</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->
        
        <!-- Start Gallery Area -->
        <div class="gallery-area pt-100 pb-100">
            <div class="container">
                <div class="section-title">
                    <span>Our Gallery</span>
                    <h2>Our Modern Office Spaces Are Simply Stunning & Comfortable</h2>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <div class="image">
                                <img src="{%static 'assets/images/gallery/gallery-1.jpg'%}" alt="image">

                                <div class="number">01</div>
                                <div class="hover-number">01</div>
                            </div>

                            <div class="content">
                                <h3>Small Team</h3>
                                <span>Single Desk & Hot Desk</span>
                            </div>

                            <div class="hover-content">
                                <h3>Small Team</h3>
                                <span>Single Desk & Hot Desk</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <div class="image">
                                <img src="{%static 'assets/images/gallery/gallery-2.jpg'%}" alt="image">

                                <div class="number">02</div>
                                <div class="hover-number">02</div>
                            </div>

                            <div class="content">
                                <h3>Office Space</h3>
                                <span>Single Desk & Hot Desk</span>
                            </div>

                            <div class="hover-content">
                                <h3>Office Space</h3>
                                <span>Single Desk & Hot Desk</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <div class="image">
                                <img src="{%static 'assets/images/gallery/gallery-3.jpg'%}" alt="image">

                                <div class="number">03</div>
                                <div class="hover-number">03</div>
                            </div>

                            <div class="content">
                                <h3>Conference Room</h3>
                                <span>Single Desk & Hot Desk</span>
                            </div>

                            <div class="hover-content">
                                <h3>Conference Room</h3>
                                <span>Single Desk & Hot Desk</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <div class="image">
                                <img src="{%static 'assets/images/gallery/gallery-4.jpg'%}" alt="image">

                                <div class="number">04</div>
                                <div class="hover-number">04</div>
                            </div>

                            <div class="content">
                                <h3>Private Office</h3>
                                <span>Single Desk & Hot Desk</span>
                            </div>

                            <div class="hover-content">
                                <h3>Private Office</h3>
                                <span>Single Desk & Hot Desk</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <div class="image">
                                <img src="{%static 'assets/images/gallery/gallery-5.jpg'%}" alt="image">

                                <div class="number">05</div>
                                <div class="hover-number">05</div>
                            </div>

                            <div class="content">
                                <h3>Custom Space</h3>
                                <span>Single Desk & Hot Desk</span>
                            </div>

                            <div class="hover-content">
                                <h3>Custom Space</h3>
                                <span>Single Desk & Hot Desk</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <div class="image">
                                <img src="{%static 'assets/images/gallery/gallery-6.jpg'%}" alt="image">

                                <div class="number">06</div>
                                <div class="hover-number">06</div>
                            </div>

                            <div class="content">
                                <h3>Meeting Space</h3>
                                <span>Single Desk & Hot Desk</span>
                            </div>

                            <div class="hover-content">
                                <h3>Meeting Space</h3>
                                <span>Single Desk & Hot Desk</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a href="#" class="prev page-numbers"><i class='bx bx-chevron-left'></i></a>
                            <span class="page-numbers current" aria-current="page">1</span>
                            <a href="#" class="page-numbers">2</a>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="page-numbers">4</a>
                            <a href="#" class="next page-numbers"><i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery Area -->
        
        <!-- Start Footer Area -->
       {%endblock%}