{%extends 'index.html'%}
{%load static %}
{% block body%}
        <!-- End Navbar Area -->
        
        <!-- Start Page Banner -->
        <div class="page-banner-area">
            <div class="container">
                <div class="page-banner-content">
                    <h2>Services</h2>
                    
                    <ul class="pages-list">
                        <li><a href="index.html">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->
        
        <!-- Start Services Area -->
        <div class="services-area pt-100 pb-100">
            <div class="container">
                <div class="section-title">
                    <span>Amenities</span>
                    <h2>Services We Offer</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="flaticon-university"></i>
                            </div>
                            <h3>
                                <a href="services-details.html">Virtual Offices</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod incididunt incididunt labore dolore.</p>
                            <a href="services-details.html" class="services-btn">Read More <i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="flaticon-work"></i>
                            </div>
                            <h3>
                                <a href="services-details.html">Full-Time Offices</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod incididunt incididunt labore dolore.</p>
                            <a href="services-details.html" class="services-btn">Read More <i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="flaticon-hotel"></i>
                            </div>
                            <h3>
                                <a href="services-details.html">Conference Rooms</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod incididunt incididunt labore dolore.</p>
                            <a href="services-details.html" class="services-btn">Read More <i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="flaticon-planet-earth"></i>
                            </div>
                            <h3>
                                <a href="services-details.html">Global Access</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod incididunt incididunt labore dolore.</p>
                            <a href="services-details.html" class="services-btn">Read More <i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="flaticon-smart-home"></i>
                            </div>
                            <h3>
                                <a href="services-details.html">Discounted Products</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod incididunt incididunt labore dolore.</p>
                            <a href="services-details.html" class="services-btn">Read More <i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="flaticon-store"></i>
                            </div>
                            <h3>
                                <a href="services-details.html">B2B Opportunities</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod incididunt incididunt labore dolore.</p>
                            <a href="services-details.html" class="services-btn">Read More <i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="flaticon-calendar"></i>
                            </div>
                            <h3>
                                <a href="services-details.html">Online Booking</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod incididunt incididunt labore dolore.</p>
                            <a href="services-details.html" class="services-btn">Read More <i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="flaticon-household"></i>
                            </div>
                            <h3>
                                <a href="services-details.html">Cleaning</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod incididunt incididunt labore dolore.</p>
                            <a href="services-details.html" class="services-btn">Read More <i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-services">
                            <div class="icon">
                                <i class="flaticon-hot-cup"></i>
                            </div>
                            <h3>
                                <a href="services-details.html">Organic Coffee</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet adipiscing elit sed do eiusmod incididunt incididunt labore dolore.</p>
                            <a href="services-details.html" class="services-btn">Read More <i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <a href="#" class="prev page-numbers"><i class='bx bx-chevron-left'></i></a>
                            <span class="page-numbers current" aria-current="page">1</span>
                            <a href="#" class="page-numbers">2</a>
                            <a href="#" class="page-numbers">3</a>
                            <a href="#" class="page-numbers">4</a>
                            <a href="#" class="next page-numbers"><i class='bx bx-chevron-right'></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Services Area -->
        
       {%endblock%}